<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192769177330-d2e306rscvrqr4m21uo7golddu1riejd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192769177330-d2e306rscvrqr4m21uo7golddu1riejd</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ_YNNrOCNKB3u1ICN01eJf5vl95_ztWM</string>
	<key>GCM_SENDER_ID</key>
	<string>192769177330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Navigation</string>
	<key>PROJECT_ID</key>
	<string>navigation-9457b</string>
	<key>STORAGE_BUCKET</key>
	<string>navigation-9457b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192769177330:ios:241f113dcecdb5be49026b</string>
</dict>
</plist>